<div class="performance col-12 bt-F0 pt-3 pr-0">
  <h5 class="amp-5 bold mb-3 c-112 text-start" id="Performance"> 
    {{'deliveryman.profile.shift-performance.title'|translate}}
  </h5>
  <div class="row mb-2">
    <div class="col-sm-3">
      <p class="amp-5 bold c-darkblue font-13px">{{'system.on-duty'|translate}}</p>
    </div>
    <!-- <div class="col-sm-9 text-end">
      <button class="btn amp-5 px-2 font-12 me-1 " [ngClass]="{'active': numofDays===0 }"(click)="changeNumOfDays('0')">Today</button>
      <button class="btn amp-5 px-2 font-12 me-1" [ngClass]="{'active': numofDays===7 }" (click)="changeNumOfDays('7')">Last 7 Days</button>
      <button class="btn amp-5 px-2 font-12px" [ngClass]="{'active': numofDays===30 }"  (click)="changeNumOfDays('30')">Last 30 Days</button>
    </div> -->
  </div>
  <!-- <div class="p-2 bg-112 height-45px mb-2 b-radius8">
    <p class="amp-5 bold c-white pull-left">Total Trips:</p>
    <p class="amp-5 bold font-20 c-white pull-right">{{totalDMTrips}}</p>
  </div> -->
  <div class="row mx-n1 mb-2">
    <!-- <div class="col-lg-3 col-md-6 mb-1 px-1" *ngFor="let item of tripsPerfomanceData">
      <div class="rate-box px-2 py-1">
        <div class="height-27">
          <p class=" pull-left amp-5 font-11 mb-0" [style.color]="item.Color">{{item.RateName}} Trips</p>
          <p class="font-20 pull-right amp-3 mb-0">{{item.Count}}</p>
        </div>
        <div class="progress my-1">
          <div class="progress-bar "  [ngStyle]="{'background-color':item.Color }" role="progressbar" [style.width.%]="item.DMPercentage" attr.aria-valuenow="{{item.DMPercentage}}" aria-valuemin="0" aria-valuemax="100"></div>
        </div>
      </div>
    </div> -->
    <!-- <div class="col-lg-3 col-md-6 mb-1 px-1">
      <div class="rate-box px-2 py-1">
        <div class="height-27">
          <p class="c-blue pull-left amp-5 font-11 mb-0">Good Trips</p>
          <p class="font-20 pull-right amp-3 mb-0">112</p>
        </div>
        <div class="progress my-1">
          <div class="progress-bar bg-blue" role="progressbar" style="width: 30%" aria-valuenow="30" aria-valuemin="0" aria-valuemax="100"></div>
        </div>
      </div>
    </div>
    <div class="col-lg-3 col-md-6 mb-1 px-1">
      <div class="rate-box px-2 py-1">
        <div class="height-27">
          <p class="c-yellow pull-left amp-5 font-11 mb-0">Late Trips</p>
          <p class="font-20 pull-right amp-3 mb-0">112</p>
        </div>
        <div class="progress my-1">
          <div class="progress-bar bg-yellow" role="progressbar" style="width: 80%" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100"></div>
        </div>
      </div>
    </div>
    <div class="col-lg-3 col-md-6 mb-1 px-1">
      <div class="rate-box px-2 py-1">
        <div class="height-27">
          <p class="c-red pull-left amp-5 font-11 mb-0">Too Late Trips</p>
          <p class="font-20 pull-right amp-3 mb-0">112</p>
        </div>
        <div class="progress my-1">
          <div class="progress-bar bg-red" role="progressbar" style="width: 50%" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>
        </div>
      </div>
    </div> -->
  </div>
  <div class="row mx-n1 mb-2">
    <div class="col-12 px-1">
      <div id="onDutyContainers"></div>
    </div>
  </div>
 

  
  <hr>
</div>
 
 
 
  