<div class="tab ">
  <div class="tab-header">
    <div class="tab-title">
      <div class="title d-flex align-content-center font-16">
        <i class="uil uil-arrow-left  pointer" (click)="_sharedService.back()"></i> {{"system.stores"|translate}} / {{'deliveryman.profile.title'|translate}}
      </div>
    </div>
  </div>
</div>
<div class="page wrapper-view ">
<div class="row delivery-profile ">
  <div class="col-md-12">
    <div class="card my-0">
   
      <div class="card-content p-0">
        <div class="pr-3 row ms-0">
          <div class="profile-content">
            <qr-code></qr-code>
            <address-confg></address-confg>
            <order-confg></order-confg>
            <trip-confg></trip-confg>
            <!-- <order-priority></order-priority> -->
          </div>
        </div>
      </div>
    </div>
  </div>
</div></div>