<div class="page">
  <div class=" div-loading" *ngIf="!page.isPageLoaded">
    <div class="page-content  d-flex align-items-center justify-content-center">
      <div class="card w-100">
        <div class="d-flex flex-column justify-content-center align-items-center">
          <img src="/assets/img/loading.gif" class="d-block mb-3" style="width: 32px;">
          <p class="loading">{{'shared.loading' | translate}} ...</p>
        </div>
      </div>
    </div>
  </div>
  <div class="page-content" *ngIf="page.isPageLoaded">
    <div class="card">
      <div class="card-content p-0">
        <form class="form" [formGroup]="page.searchForm">
          <div class="form-body">
            <div class="row row-cols-2 row-cols-sm-3 row-cols-md-4 row-cols-lg-5 row-cols-xl-6 g-2">
              <div class="col" *ngIf="!isSingleStore()">
                <ng-control [type]="controlType.SELECT" [form]="page.searchForm" control="BranchID"
                  label="system.stores" [items]="branchList" placeholder="search.select-store"></ng-control>
              </div>
              <div class="col">
                <ng-control [form]="page.searchForm" control="OrderNumber" label="order.order-number"
                  placeholder="search.enter-order-number"></ng-control>
              </div>
              <div class="col">
                <ng-control [type]="controlType.INPUT_DATE" [form]="page.searchForm" control="FromDate"
                  label="shared.from-date"></ng-control>
              </div>
              <div class="col">
                <ng-control [type]="controlType.INPUT_DATE" [form]="page.searchForm" control="ToDate"
                  label="shared.to-date"></ng-control>
              </div>
              <div class="col">
                <div class="d-flex align-items-end h-100 ">
                  <button class='rb-btn rb-btn-secondary rb-btn-sm c-b500' (click)="onSearchClicked()"
                    [disabled]="page.searchForm.invalid || page.isSearching">
                    <i class="uil uil-search"></i>
                    <span class="rb-btn-text d-md-inline-block d-none"> {{'system.apply-search'|translate}}</span> <span
                      class="rb-btn-text d-md-none d-inline-block"> {{'system.apply'|translate}}</span>
                  </button>
                  <button class='rb-btn rb-btn-secondary rb-btn-sm ms-2 c-r500' (click)="resetForm()"
                    [disabled]="page.searchForm.invalid || page.isSearching">
                    <span class="rb-btn-text">{{'system.reset' | translate}}</span>
                  </button>
                </div>
              </div>
            </div>
            <!-- <div class="d-flex align-items-center pt-3 px-3">
                      <p class="font-16 c-00f">{{'system.order'|translate}} ({{page.options.totalItems}})</p>
                      <button class="btn btn-with-icon ms-auto" type="button" (click)="onSearchClicked()"
                        [disabled]="page.searchForm.invalid || page.isSearching">
                        <i class="uil uil-search font-20 li-h1 me-2"></i>
                        {{'system.apply-search'|translate}}
                      </button>
                    </div> -->
          </div>
        </form>
        <div class="scolled my-3">
          <table class="table">
            <thead>
              <tr class="th-header">
                <th>#</th>
                <th *ngFor="let colum of page.columns ;let i=index;" class="pointer" (click)="onSortClicked(colum)">
                  {{colum.Title | translate}}
                  <div *ngIf="colum.Sortable" class="d-inline-block"
                    [ngClass]="(isColumnAscending(colum.Name)!=null) ? 'arrow-sort' : ''">
                    <i class="uil uil-sort sort-icon"
                      [ngClass]="isColumnAscending(colum.Name) ? 'sort-icon-ase' : 'sort-icon-des'"></i>
                  </div>
                </th>
                <th></th>
              </tr>
            </thead>
            <tbody>
              <tr [hidden]="!page.isSearching">
                <td colspan="100%">
                  <img src="/assets/img/gif-loading.gif" class="d-block" style="width:300px;margin: 0 auto;">
                </td>
              </tr>
              <tr [hidden]="page.isSearching || items.length>0">
                <td colspan="100%">
                  <span>{{'shared.no-data-found'|translate}}</span>
                </td>
              </tr>
              <tr *ngFor="let item of items | paginate : page.options;let i=index;">
                <td class="hidden-xs">{{page.options.itemsPerPage*(page.options.currentPage-1)+ i+1}}</td>
                <td>
                  <a class="action-link bold" routerLink="/task/details/{{item.OrderCode}}">{{item.OrderNumber}}</a>
                </td>
                <td>{{item.BranchName}}</td>
                <td>{{item.CreatedDate | date:'longDate'}}</td>
                <td>{{item.ScheduledTime | date:'longDate'}}</td>
                <td>
                  <button class="btn btn-sm btn-raised btn-raised btn-primary mb-0 dispatch-btn ml-0"
                    (click)="showunScheduleTemplate(item)">{{'order.scheduled.unschedule'|translate}}</button>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
        <ng-pagination [page]="page" (pageSizeChange)="onChangePageSize()" (pageChange)="getNextPrevData($event)">
        </ng-pagination>
      </div>
    </div>
  </div>
</div>
<ng-template #unScheduledTemplate>
  <div class="modal-content confirm-modal">
    <div class="modal-body">
      <p class="modal-title font-16 bold c-00f">{{'order.scheduled.unschedule-task'|translate}}</p>
      <p class="modal-confirm-content mb-2">{{'shared.unscheduled-order-confirmation.message'|translate}} </p>
      <div class="d-flex mt-4">
        <button type="button" class="btn cancel-btn me-auto"
          (click)="modalRef.hide()">{{'shared.cancel'|translate}}</button>
        <button type="button" class="btn btn-without-icon bg-e5 ms-2"
          (click)="unschedule()">{{'order.scheduled.unschedule'|translate}}</button>
      </div>
    </div>
  </div>
</ng-template>