<!-- <div class="page-content with-side">
  <div class="first-tabs">
    <div class="card">
      <div class="tabs-header">
        <p>{{'system.order'|translate}}</p>
      </div>
      <div class="py-2">
        <div class="tab pointer" *ngFor="let item of tabs ; let i=index" (click)="selectTab(i)"
          [class.active]="getCurrentTab() == item.Url">
          <i class="uil uil-file-alt " *ngIf="item.ID==1"></i>
          <i class="uil uil-map-marker" *ngIf="item.ID==2"></i>
          <i class="uil uil-store" *ngIf="item.ID==3"></i>
          <i class="uil uil-user-md" *ngIf="item.ID==4"></i>
          <i class="uil uil-setting" *ngIf="item.ID==5"></i>
          <i class="uil uil-qrcode-scan" *ngIf="item.ID==6"></i>
          <p>{{item.Name|translate}}</p>
        </div>
      </div>
    </div>
  </div>
  <div class="page-side">
    <router-outlet></router-outlet>
  </div>
</div> -->