<loading *ngIf="!page.isPageLoaded" title="{{'system.loading'|translate}}" [inline]="false"
  desc="{{'system.loading-describ'|translate}}"></loading>
<div class="tab-container card h-100 m-3 " *ngIf="page.isPageLoaded">
  <div class="tab no-print " [class.sub]="showTabLinks()" *ngIf="showLayout()">
    <div class="tab-header">
      <div class="tab-title">
        <img src="/assets/img/side-menu/{{getPage().Icon}}-active.svg" class="rect-20">
        <p class="title"> {{getPage().Name}} <span *ngIf="!showTabLinks()">/ {{getChildList()[0].Name}}</span></p>
      </div>
      <div class="tab-action" *ngIf="canShowReport() || canShowExport()">

        <button class="rb-btn rb-btn-primary rb-btn-sm" [disabled]="page.isSearching" (click)="fireChildEvent()"
        *ngIf="canShowReport() ">
        <i class="uil uil-file-download"></i>
        <span class="rb-btn-text">{{'system.download-report'|translate}}</span>
      </button>
      <button class="rb-btn rb-btn-primary rb-btn-sm ms-2" [disabled]="page.isSearching"
        (click)="navigateActionExport()" *ngIf="canShowExport()">
        <i class="uil uil-file-download"></i>
        <span class="rb-btn-text">{{'system.export'|translate}}</span>
      </button>
      </div>
    </div>
    <ul class="tab-links no-print" *ngIf="showTabLinks()">
      <ng-container *ngFor="let item of getChildList()">
        <li class="tab-item active d-flex align-items-center" (click)="onTabClick(item)"
          [style.order]="item.DisplayOrder" [class.active]="getCurrentChild().ID == item.ID">
          <i class="{{item.Icon}}" *ngIf="!item.IsImage"></i>
          <img src="assets/icon/{{item.Icon}}" *ngIf="item.IsImage" class="rect-16 me-2 ">
          <span>{{item.Name}}</span>
          <div class="rb-counter rb-counter-sm"  *ngIf="getCurrentChild().ID == item.ID && tabTotalItems !=null">
            <p class="counter-text">{{tabTotalItems}}</p>
          </div>
          
        </li>
      </ng-container>
    </ul>
  </div>
  <div [class.wrapper-view]="showLayout()">
    <router-outlet></router-outlet>
  </div>
</div>