<div class="page">
  <div class=" div-loading" *ngIf="!page.isPageLoaded">
    <div class="page-content  d-flex align-items-center justify-content-center">
      <div class="card w-100">
        <div class="d-flex flex-column justify-content-center align-items-center">
          <img src="/assets/img/loading.gif" class="d-block mb-3" style="width: 32px;">
          <p class="loading">{{'shared.loading' | translate}} ...</p>
        </div>
      </div>
    </div>
  </div>
  <div class="page-content" *ngIf="page.isPageLoaded">
    <div class="card h-100">
      <div class="card-content p-0">
        <form class="form" [formGroup]="page.searchForm">
          <div class="form-body ">
            <div class="row row-cols-2 row-cols-sm-3 row-cols-md-4 row-cols-lg-5 row-cols-xl-6 g-2">
              <div class="col">

                <ng-control [type]="controlType.SELECT" [form]="page.searchForm" control="areaID"
                label="system.area" [items]="areaList" placeholder="search.select-area"></ng-control>
              </div>
              <div class="col">
                <div class="d-flex align-items-end h-100 ">
                  <button class='rb-btn rb-btn-secondary rb-btn-sm c-b500' (click)="onSearchClicked()"
                    [disabled]="page.searchForm.invalid || page.isSearching">
                    <i class="uil uil-search"></i>
                   <span class="rb-btn-text d-md-inline-block d-none" > {{'system.apply-search'|translate}}</span>    <span class="rb-btn-text d-md-none d-inline-block" > {{'system.apply'|translate}}</span>
                  </button>
                  <button class='rb-btn rb-btn-secondary rb-btn-sm ms-2 c-r500' (click)="resetForm()"
                    [disabled]="page.searchForm.invalid || page.isSearching">
                    <span class="rb-btn-text">{{'system.reset' | translate}}</span>
                  </button>
                </div>
              </div>
            </div>
          </div>
        </form>
        <div class="scolled my-3">
          <table class="table vendor-table">
            <thead>
              <tr class="th-header">
                <th>#</th>
                <th>{{'system.deliveryman-name'|translate}}</th>
                <ng-container *ngFor="let item of storeList">
                  <th>{{item.Name}} ( {{deliverymenCountByBranch(item.ID)}} )</th>
                </ng-container>
              </tr>
            </thead>
            <tbody>
              <tr [hidden]="!page.isSearching && page.isPageLoaded">
                <td colspan="100%">
                  <img src="/assets/img/gif-loading.gif" class="d-block" style="width:300px;margin: 0 auto;">
                </td>
              </tr>
              <tr [hidden]="page.isSearching || items.length>0">
                <td colspan="100%">
                  <span>{{'shared.no-data-found'|translate}}</span>
                </td>
              </tr>
              <tr *ngFor="let item of items;let i=index;">
                <td class="hidden-xs">{{ i+1}}</td>
                <td>
                  {{item.DeliverymanName}} ( {{branchesCountForDeliveryman(item.DeliverymanID)}} )
                </td>
                <ng-container *ngFor="let branch of item.Branches">
                  <td>
                    <div class="form-check">
                      <input class="form-check-input reset-float rect-14 " type="checkbox" value=""
                        [checked]="isSelected(branch.ID,item.DeliverymanID)"
                        (change)="update(branch.ID,branch.Selected,item.DeliverymanID)">
                    </div>
                  </td>
                </ng-container>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>