<div class="row row-cols-md-5 row-cols-2 mt-3">
  <div class="col my-1">
    <delivered-tasks [searchViewModel]="searchViewModel"></delivered-tasks>
  </div>
  <div class="col my-1">
    <excellent-orders [searchViewModel]="searchViewModel"></excellent-orders>
  </div>
  <div class="col my-1">
    <order-kpis [searchViewModel]="searchViewModel"></order-kpis>
  </div>
  <div class="col my-1">
    <pendding-orders [searchViewModel]="searchViewModel"></pendding-orders>
  </div>
  <div class="col my-1">
    <new-customers [searchViewModel]="searchViewModel"></new-customers>
  </div>
</div>