<div class="tab ">
  <div class="tab-header">
    <div class="tab-title">
      <div class="title d-flex align-content-center font-16"> <i class="uil uil-arrow-left  pointer"
          routerLink="/customer"></i> {{'customer.profile.title'|translate}}
      </div>
    </div>
  </div>
</div>
<div class="page wrapper-view pt-0">
  <div class="page-content ">
    <div class="card">

      <div class="card-content p-0">
        <personal-info></personal-info>
        <!-- <branches ></branches> -->
        <orders></orders>
      </div>
    </div>
  </div>
</div>