<div class="col-sm-12">
  <div class="card">
    <div class="row">
      <div class="col-md-12 col-sm-12">
        <div class="card-header mb-1">
          <div class="row">
            <div class="col-md-7 col-sm-8 pr-0">
              <img class="me-2 ng-mt-5" src="/assets/img/ico/file.svg" style="width: 20px;height: 20px;">
              <h3 class="card-title mt-1 me-2 mb-0 d-inline-block text-bold-600 pointer">Average Delivery Time By Week
              </h3>
            </div>
            <div class="col-md-5 col-sm-4  px-0 text-end">

              <ul class="list-unstyled mb-0 me-2 d-inline-block">
                <li class="d-inline ml-3 "> <a (click)="GetData()"><img class="" src="/assets/img/ico/refresh.svg"
                      style="width: 17px;height: 17px;"></a></li>
              </ul>
            </div>
          </div>
        </div>
        <hr>
        <div id="avg-by-week-container"></div>
      </div>
      <!-- <div class="col-md-4 col-sm-12">
      <trips-rate-piechart  [branchChanged] = "branchChanged" [branchID]="branchID"></trips-rate-piechart>
    </div> -->
    </div>
  </div>
</div>