<button class="rb-btn rb-btn-secondary rb-btn-sm ms-2" [class.d-sm-none]="!isSingleStore()" (click)="showCreateOrderTemplate()">
  <i class="uil uil-plus ms-n1"></i>
  <span class="rb-btn-text">{{'system.task'|translate}}</span>
</button>

<button id="AllTasksStep_FastTaskBtn" class="rb-btn rb-btn-primary rb-btn-sm d-none d-sm-flex ms-2" (click)="showCreateOrderTemplate()"
  *ngIf=" !isSingleStore()">
  <i class="uil uil-bolt"></i>
  <span class="rb-btn-text">{{'dispatch.fast-order.title'|translate}}</span>
</button>
<ng-template #createOrderTemplate>
  <div class="modal-content">
    <div class="modal-header bg-g25 p-3">
      <p class="rb-p-s c-24">{{'dispatch.fast-order.create'|translate}}</p>
      <i class="uil uil-times c-g600 font-16 pointer ms-auto" (click)="modalRef.hide()"></i>
    </div>
    <div class="modal-body" [style]="!orderModel.IsCustomerSearched ?'min-height: 137px;':''">
      <ng-container *ngIf="!orderModel.IsCustomerSearched">
        <form class="form" [formGroup]="customerSearchForm">
          <ng-control [form]="customerSearchForm" control="CustomerMobile"
            label="{{'dispatch.fast-order.customer-phone' | translate}}" inputClass="form-control-md"
            labelClass="label-md"></ng-control>
          <p class="rb-p-xs font-11 c-r500 mt-1" *ngIf="orderModel.CustomerName == null">
            {{'dispatch.fast-order.find-customer'|translate}}</p>
          <div class="d-flex mt-3">
            <button class="rb-btn rb-btn-primary rb-btn-md ms-auto" (click)="getCustomerByMobile()">
              <i class="uil uil-search"></i>
              <span class="rb-btn-text">{{'dispatch.fast-order.find-customer'|translate}}</span>
            </button>
          </div>
        </form>
      </ng-container>
      <ng-container *ngIf="orderModel.IsCustomerSearched">
        <p class="rb-p-s c-grb500 bold">{{'dispatch.fast-order.customer-info'|translate}}</p>
        <form class="form mt-3" [formGroup]="customerSearchForm">
          <div class="row">
            <div class="col-sm-6">
              <ng-control [form]="customerSearchForm" control="CustomerMobile" inputClass="form-control-md"
                labelClass="label-md" label="{{'dispatch.fast-order.customer-phone' | translate}}"></ng-control>
              <p class="rb-p-xs font-11 c-gr600 mt-1" *ngIf="orderModel.CustomerName">
                {{'dispatch.fast-order.customer-found'|translate}}</p>
              <p class="rb-p-xs font-11 c-r500 mt-1" *ngIf="!orderModel.CustomerName">
                {{'dispatch.fast-order.no-customer'|translate}}</p>
            </div>
            <div class="col-sm-6">
              <button class="rb-btn rb-btn-secondary rb-btn-md mt-2 mt-sm-4" (click)="getCustomerByMobile()">
                <i class="uil uil-search"></i>
                <span class="rb-btn-text">{{'dispatch.fast-order.find-customer'|translate}}</span>
              </button>
            </div>
          </div>
        </form>
        <form class="form" [formGroup]="orderForm">
          <div class="row">
            <div class="col-sm-6 mt-3">
              <ng-control [form]="orderForm" control="CustomerName" label="{{'system.customer-name' | translate}}"
                inputClass="form-control-md" labelClass="label-md"></ng-control>
            </div>
            <div class="col-sm-6 mt-3">
              <ng-control [form]="orderForm" control="CustomerSerialNumber"
                label="{{'system.customer-serial-number' | translate}}" inputClass="form-control-md"
                labelClass="label-md"></ng-control>
            </div>
          </div>
          <ng-control [type]="page.ControlType.SELECT" [form]="orderForm" control="Address"
            *ngIf="!orderModel.isNewCustomer" inputClass="form-control-md " labelClass="label-md mt-3"
            label="{{'customer.shipping-address' | translate}}"
            placeholder="{{'search.select-shipping-address'|translate}}" [items]="shippingAddresses" bindLabel="Address"
            bindValue="Address" (change)="addAddress($event.ID == 0)" [clearable]="false"></ng-control>
          <div class="mt-3" *ngIf="orderModel.isNewAddress">
            <ng-control [form]="orderForm" control="NewAddress"
              label="{{'dispatch.fast-order.add-shipping-address' | translate}}"
              placeholder="{{'search.enter-shipping-address'|translate}}" inputClass="form-control-md"
              labelClass="label-md"></ng-control>
          </div>
          <hr class="mx-n3">
          <p class="rb-p-s c-grb500 bold">{{'dispatch.fast-order.task-details'|translate}}</p>
          <div class="row">
            <div class="col-sm-6 mt-3">
              <ng-control [form]="orderForm" control="OrderNumber"
                label="{{'dispatch.fast-order.task-number'|translate}}"
                placeholder="{{'search.enter-task-num'|translate}}" inputClass="form-control-md" labelClass="label-md">
              </ng-control>
            </div>
            <div class="col-sm-6 mt-3" *ngIf="!isSingleStore()">
              <ng-control [type]="page.ControlType.SELECT" [form]="orderForm" control="BranchID"
                label="{{'system.store' | translate}}" placeholder="{{'search.select-store'|translate}}"
                [items]="storeList" [clearable]="false" inputClass="form-control-md" labelClass="label-md"></ng-control>
            </div>
            <div class="col-sm-6 mt-3">
              <ng-control [type]="page.ControlType.SELECT" [form]="orderForm" control="FastOrderReasonID"
                inputClass="form-control-md" labelClass="label-md" label="{{'dispatch.fast-order.reason' | translate}}"
                placeholder="{{'search.select-reason'|translate}}" [items]="orderReasonList"
                (change)="onSelectReason($event.ID == 2)" [clearable]="false"></ng-control>
            </div>
            <div class="col-sm-6 mt-3" *ngIf="orderModel.isOtherReason">
              <ng-control [form]="orderForm" control="FastOrderReasonNote"
                label="{{'dispatch.fast-order.reason'|translate}}" inputClass="form-control-md" labelClass="label-md">
              </ng-control>
            </div>
          </div>
          <div class="row mt-4">
            <div class="col-sm-6">
              <div class="form-check form-switch">
                <input class="form-check-input me-2" role="switch" type="checkbox" formControlName="IsTopPriority"
                  id="topPriority">
                <label class="form-check-label"
                  for="topPriority">{{'dispatch.top-priority'|translate}}</label>
              </div>
            </div>
            <div class="col-sm-6 mt-2 mt-sm-0">
              <div class="form-check form-switch">
                <input class="form-check-input me-2" role="switch" type="checkbox" formControlName="IsPaused"
                  id="pause">
                <label class="form-check-label" for="pause">{{'system.paused'|translate}}</label>
              </div>
            </div>
          </div>
        </form>
        <div *ngIf="serviceList.length>0">
          <p class="rb-p-s bold mt-4">{{'system.services'|translate}}</p>
          <div class="d-flex scroll-x text-center mt-3 mx-n2">
            <div class="rb-avatar rb-avatar-lg mx-2" *ngFor="let item of serviceList"
              (click)="item.Selected = !item.Selected">
              <div class="avatar-img circle">
                <img [class.b-2]="item.Selected" [class.bc-b500]="item.Selected" [src]="item.Icon"
                  onerror="this.onerror=null; this.src='./assets/image/skill.png'">
              </div>
              <p class="rb-p-xxs bold c-g900 avatar-name rb-mt-6" [class.c-b500]="item.Selected" title="{{item.Name}}">
                {{item.Name}}</p>
            </div>
          </div>
        </div>
      </ng-container>
    </div>
    <div class="modal-footer" *ngIf="orderModel.IsCustomerSearched">
      <button type="button" class="rb-btn rb-btn-invisible rb-btn-md ms-auto"
        (click)="modalRef.hide()">{{'shared.back'|translate}}</button>
      <button type="button" class="rb-btn rb-btn-primary rb-btn-md"
        [disabled]="disabledSubmit(orderForm) || disabledSubmit(customerSearchForm)"
        (click)="modalRef.hide();createOrder()">{{'dispatch.fast-order.create'|translate}}</button>
    </div>
  </div>
</ng-template>