
.checkBox{
    width: auto !important; 
    display: inline !important ;  
    vertical-align:middle !important;
}
.info-box{
    width: 30px;
    height: 30px;
    display: flex;
    border-radius: 8px;
}
.img-35circle{
    width: 35px;
    height: 35px;
    border-radius: 50%;
}
.dashed-img{
    width: 45px;
}
.card{
    box-shadow: none;
    border: 1px solid #B8BFBF;
    padding: 13px;
}
.shadow-0b{
    box-shadow: 0px 3px 12px #0B1E3829;
}
.perf.status{
    font-size: 10px !important;
    padding: 4px 8px;
    border-radius: 4px;
}

@media(min-width:992px ) and ( max-width:1105px){
    .font-12px{
        font-size: 10px;
    }
    .font-13px{
        font-size: 10px;
    }
    .font-14px{
        font-size: 12px;
    }
}


.lh-21{
    line-height: 21px !important;
}