<div class="page">
  <div class=" div-loading" *ngIf="!page.isPageLoaded">
    <div class="page-content  d-flex align-items-center justify-content-center">
      <div class="card w-100">
        <div class="d-flex flex-column justify-content-center align-items-center">
          <img src="/assets/img/loading.gif" class="d-block mb-3" style="width: 32px;">
          <p class="loading">{{'shared.loading' | translate}} ...</p>
        </div>
      </div>
    </div>
  </div>
  <div class="page-content" *ngIf="page.isPageLoaded">
    <div class="card h-100">
      <div class="card-content p-0">
        <form class="form" [formGroup]="page.searchForm">
          <div class="form-body">
            <div class="row row-cols-2 row-cols-sm-3 row-cols-md-4 row-cols-lg-5 row-cols-xl-6 g-2">

              <div class="col ">
                <ng-control [type]="controlType.INPUT_DATE" [form]="page.searchForm" control="FromDate"
                  label="shared.from-date"></ng-control>
              </div>
              <div class="col ">
                <ng-control [type]="controlType.INPUT_DATE" [form]="page.searchForm" control="ToDate"
                  label="shared.to-date"></ng-control>
              </div>

              <div class="col">
                <div class="d-flex align-items-end h-100 ">
                  <button class='rb-btn rb-btn-secondary rb-btn-sm c-b500' (click)="onSearchClicked()"
                    [disabled]="page.searchForm.invalid || page.isSearching">
                    <i class="uil uil-search"></i>
                   <span class="rb-btn-text d-md-inline-block d-none" > {{'system.apply-search'|translate}}</span>    <span class="rb-btn-text d-md-none d-inline-block" > {{'system.apply'|translate}}</span>
                  </button>
                  <button class='rb-btn rb-btn-secondary rb-btn-sm ms-2 c-r500' (click)="resetForm()"
                    [disabled]="page.searchForm.invalid || page.isSearching">
                    <span class="rb-btn-text">{{'system.reset' | translate}}</span>
                  </button>
                </div>
              </div>

            </div>
          </div>
        </form>
        <div class="scolled my-3">
          <table class="table ">
            <thead>
              <tr class="th-header">
                <th>#</th>
                <ng-container *ngFor="let colum of page.columns ;let i=index;">
                  <th [class.pointer]="colum.Sortable" (click)="onSortClicked(colum)">
                    {{colum.Title | translate}}
                    <div *ngIf="colum.Sortable" class="d-inline-block"
                      [ngClass]="(isColumnAscending(colum.Name)!=null) ? 'arrow-sort' : ''">
                      <i class="uil uil-sort sort-icon"
                        [ngClass]="isColumnAscending(colum) ? 'sort-icon-ase' : 'sort-icon-des'"></i>
                    </div>
                  </th>
                </ng-container>
              </tr>
            </thead>
            <tbody>
              <tr [hidden]="!page.isSearching">
                <td colspan="100%">
                  <img src="/assets/img/gif-loading.gif" class="d-block" style="width:300px;margin: 0 auto;">
                </td>
              </tr>
              <tr [hidden]="page.isSearching || items.length>0">
                <td colspan="100%">
                  <span>{{'shared.no-data-found'|translate}}</span>
                </td>
              </tr>
              <ng-container *ngFor="let item of items;let i=index;">
                <tr>
                  <td class="hidden-xs"> {{i+1}}</td>
                  <td>{{item.AreaID}}</td>
                  <td class="pointer" routerLink="/branch/performance" [queryParams]="{areaID: item.AreaID}">
                    {{item.AreaName}}</td>
                  <td>{{item.BranchCount}}</td>
                  <td>{{item.DeliverymanCount}}</td>
                  <td>{{item.OrderCount}}({{item.OrderPercentage}}%)</td>
                  <td class="text-center">{{item.AvgDeliveryTime}}</td>
                  <td>{{item.OrderDistance}}</td>
                  <td>{{item.TripDistance}}</td>
                  <td>{{item.AverageOnDutyTime}}</td>
                  <td>{{item.OrderPerDeliveryman}}</td>
                  <td>{{item.AverageOrderOnTrip}}</td>
                  <td><span class="c-green">{{item.ExcellentTripPercentage}}% ({{item.ExcellentTrips}})</span></td>
                  <td><span class="c-green">{{item.ExcellentOrderPercentage}}% ({{item.ExcellentOrders}})</span></td>
                </tr>
              </ng-container>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>